{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "dynamic-import-node",
    ["inferno", { "imports": true }],
    "transform-class-properties",
    "../babel",
    ["module-resolver", {
      "alias": {
        "react-loadable": "./src/index.js",
        "react-loadable/server": "./src/server.js",
        "react-loadable/webpack": "./src/webpack.js",
      },
    }]
  ],
}
